<html class="h-full bg-white">
<head>
<title>Admin Portal</title>
<link rel="icon" type="image/svg" href="/img/logo.svg">
<link rel="stylesheet" href="/css/app.css">
<script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script><!--safari polyfill-->
<script type="importmap">
{
    "imports": {
        "vue": "/lib/mjs/vue.mjs",
        "@servicestack/client": "/lib/mjs/servicestack-client.mjs",
        "@servicestack/vue": "/lib/mjs/servicestack-vue.mjs",
        "app.mjs": "/mjs/app.mjs",
        "dtos.mjs": "/mjs/dtos.mjs"
    }
}
</script>
</head>
<body class="h-full">
<div id="app" v-cloak>
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <div v-if="toggleState" class="relative z-10 lg:hidden" role="dialog" aria-modal="true">
        <div :class="['fixed inset-0 bg-gray-900/80', transition1]"></div>

        <div class="fixed inset-0 flex">
            <div :class="['relative mr-16 flex w-full max-w-xs flex-1', transition2]">
                <div :class="['absolute left-full top-0 flex w-16 justify-center pt-5', transition3]">
                    <button type="button" @click="toggle(false)" class="-m-2.5 p-2.5">
                        <span class="sr-only">Close sidebar</span>
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
                    <div class="flex h-16 shrink-0 items-center">
                        <a href="/portal/">
                            <svg class="h-10 w-auto text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                        </a>
                    </div>
                    <nav class="flex flex-1 flex-col">
                        <ul role="list" class="flex flex-1 flex-col gap-y-7">
                            <li>
                                <ul role="list" class="-mx-2 space-y-1">
                                    <li v-for="section in sections">
                                        <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                                        <a @click.prevent="navTo(section.id)" :class="[activeSection.id === section.id ? 'bg-gray-50 text-indigo-600' : 'cursor-pointer text-gray-700 hover:text-indigo-600 hover:bg-gray-50', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold select-none']">
                                            <div v-html="section.icon"></div>
                                            {{section.label}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:z-10 lg:flex lg:w-72 lg:flex-col">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
            <div class="flex h-16 shrink-0 items-center">
                <a href="/portal/">
                    <svg class="h-10 w-auto text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                </a>
            </div>
            <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                    <li>
                        <ul role="list" class="-mx-2 space-y-1">
                            <li v-for="section in sections">
                                <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                                <a @click.prevent="navTo(section.id)" :class="[activeSection.id === section.id ? 'bg-gray-50 text-indigo-600' : 'cursor-pointer text-gray-700 hover:text-indigo-600 hover:bg-gray-50', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold select-none']" @click="$forceUpdate()">
                                    <div v-html="section.icon"></div>
                                    {{section.label}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="text-sm font-semibold leading-6 text-gray-400">Manage Posts</div>
                        <ul role="list" class="-mx-2 space-y-1">
                            <li v-for="section in postSections">
                                <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                                <a @click.prevent="navTo(section.id)" :class="[activeSection.id === section.id ? 'bg-gray-50 text-indigo-600' : 'cursor-pointer text-gray-700 hover:text-indigo-600 hover:bg-gray-50', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold select-none']" @click="$forceUpdate()">
                                    <div v-html="section.icon"></div>
                                    {{section.label}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="-mx-6 mt-auto">
                        <span v-if="user" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50">
                            <img class="h-8 w-8 rounded-full bg-gray-50" :src="user.profileUrl" alt="">
                            <span class="sr-only">Your profile</span>
                            <span aria-hidden="true">{{user.displayName}}</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div :class="['sticky top-0 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden']">
        <button type="button" @click="toggle(true)" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
        <div class="flex-1 text-sm font-semibold leading-6 text-gray-900">{{ activeSection.label }}</div>
        <span v-if="user">
            <span class="sr-only">Your profile</span>
            <img class="h-8 w-8 rounded-full bg-gray-50" :src="user.profileUrl" alt="">
        </span>
    </div>

    <main class="lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
            <!-- Your content -->
            <sign-in v-if="!user"></sign-in>
            <div v-else>
                <h1 class="hidden lg:block pt-4 mb-2 text-3xl font-bold leading-tight tracking-tight text-gray-900">{{ activeSection.label }}</h1>
                <component :key="refreshKey" :is="activeSection.component" @nav="navTo"></component>
            </div>
        </div>
    </main>
</div>

<script type="module">
import { mount } from "/mjs/app.mjs"
import { SendMailRun, ViewMailRunInfo, QueryContacts, SendMailMessage, SendMailMessageRun, PreviewEmail, ArchiveMail, 
         ViewAppStats } from "/mjs/dtos.mjs"
import { leftPart, rightPart, appendQueryString, queryString, on, ApiResult, humanize } from "@servicestack/client"
import { useAuth, useClient, useMetadata, useUtils, useFormatters, css } from "@servicestack/vue"
import { ref, computed, onMounted, onUnmounted, shallowRef, watch, nextTick } from "vue"

// Order all tables descending so latest appears first
const idColumns = ['MailRun.Id','MailMessageRun.Id','MailMessage.Id','Contact.Id','AppUser.Id','Thread.Id','Comment.Id','CommentVote.Id','CommentReport.Id']
    .map(x => 'Column/AutoQueryGrid:' + x)
if (!idColumns.some(id => !!localStorage.getItem(id))) {
    idColumns.forEach(id => localStorage.setItem(id,'{"filters":[],"sort":"DESC"}'))
}
const defaultFilters = {
    'Column/AutoQueryGrid:CommentReport.Moderation': '{"filters":[{"key":"%In","name":"In","value":"None"}]}'
}
Object.keys(defaultFilters).forEach(field => {
    if (!localStorage.getItem(field)) {
        localStorage.setItem(field, defaultFilters[field])
    }
})

const { loadMetadata, metadataApi, typeOf } = useMetadata()
await loadMetadata({
    olderThan: window.Server ? null : location.search.includes('clear=metadata') ? 0 : 60 * 60 * 1000 //1hr 
})

const styles = {
    dialogButton: "inline-flex items-center px-6 py-3 border border-gray-300 shadow-sm md:text-lg font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500",
}

function formatEmails(emails) {
    if (!emails?.length) return ''
    const to = emails.map(x => x.name ? `${x.name} <${x.email}>` : x.email)
    return to.join(', ')
}

function isHtml(s) {
    return typeof s == 'string' && (s.trimStart().startsWith('<') || s.includes('style="'))
}

const EmailPreview = {
    template:`<div class="w-full">
        <ErrorSummary v-if="hadSuccess" />
        <div :class="['border-t border-gray-200 pt-4 px-4', isHtml(api.response) ? '' : 'whitespace-pre-wrap']" v-html="api.response"></div>
    </div>
    `,
    props:['renderer','type','modelValue'],
    setup(props) {

        const client = useClient()
        const api = ref(new ApiResult())
        const hadSuccess = ref(false)

        const update = createDebounce(async () => {
            const requestArgs = Object.assign({}, props.modelValue)
            Object.keys(requestArgs).forEach(k => {
                // unwrap dropdown values '{ key, value }' to just use key  
                if (typeof requestArgs[k] == 'object' && requestArgs[k]?.key)
                    requestArgs[k] = requestArgs[k].key
            })

            const request = new PreviewEmail({
                renderer: props.renderer,
                request: props.type,
                requestArgs,
            })
            api.value = await client.api(request)
            if (api.value.succeeded) hadSuccess.value = true
        })

        function createDebounce(fnc, delayMs) {
            let timeout = null;
            return (...args) => {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    fnc(...args);
                }, delayMs || 250);
            };
        }


        watch(() => props.modelValue, update, { deep: true })
        onMounted(update)

        return { api, hadSuccess, isHtml }
    }
}

const ArchiveButton = {
    template:`<div class="relative inline-block text-left">
    <div>
      <button @click="toggle()" type="button" :class="[css.grid.toolbarButtonClass,'justify-center gap-x-1.5']" 
              aria-expanded="true" aria-haspopup="true">
        Archive
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div :class="['absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none', transition1]" role="menu" 
         aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <span v-for="(days,label) in durations" @click="archive(days)" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-50" role="menuitem" tabindex="-1" id="menu-item-0">{{label}}</span>
      </div>
    </div>
    </div>`,
    emits:['done'],
    props:['type'],
    setup(props, { emit }) {
        const client = useClient()
        const { transition } = useUtils()

        const toggleState = ref(false)
        const transition1 = ref('hidden')
        const rule1 = {
            entering: { cls:'transition ease-out duration-100', from:'transform opacity-0 scale-95',    to:'transform opacity-100 scale-100'},
            leaving:  { cls:'transition ease-in duration-75',   from:'transform opacity-100 scale-100', to:'transform opacity-0 scale-95'}
        }
        function toggle(show) {
            toggleState.value = show != null ? show : !toggleState.value
            transition(rule1, transition1, toggleState.value)
        }
        
        const durations = {
            'All Completed': 0,
            'Older than a day': 1,
            'Older than a week': 7,
            'Older than a month': 30,
            'Older than 6 months': 183,
            'Older than a year': 365,
        }
        
        async function archive(olderThanDays) {
            toggle(false)
            
            const api = await client.api(new ArchiveMail({ 
                [props.type]: true,
                olderThanDays,
            }))
            emit('done')
        }
        
        return { css, durations, transition1, toggle, archive }
    }
}

const Dashboard = {
    template:`
      <div class="mt-10">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Last 30 days</h3>
      <dl class="mt-5 grid grid-cols-1 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow md:grid-cols-3 md:divide-x md:divide-y-0">
        <div v-for="stat in last30Days" class="cursor-pointer px-4 py-5 sm:p-6" @click="$emit('nav',stat.section)">
          <dt class="text-base font-normal text-gray-900">{{stat.label}}</dt>
          <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
              {{stat.total}}
              <span class="ml-2 text-sm font-medium text-gray-500">from {{stat.before30DayTotal}}</span>
            </div>
            <div class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
              <svg class="-ml-1 mr-0.5 h-5 w-5 flex-shrink-0 self-center text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only"> Increased by </span>
              {{stat.total - stat.before30DayTotal}}
            </div>
          </dd>
        </div>
      </dl>

      <div class="mt-10">
        <h3 class="text-base font-semibold leading-6 text-gray-900">Totals</h3>
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
          <div v-for="stat in totals" class="cursor-pointer overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6" @click="$emit('nav',stat.section)">
            <dt class="truncate text-sm font-medium text-gray-500">{{stat.label}}</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{stat.total}}</dd>
          </div>
        </dl>
      </div>

      <div class="mt-10">
        <h3 class="text-base font-semibold leading-6 text-gray-900">Archived Totals</h3>
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
          <div v-for="stat in archivedTotals" class="cursor-pointer overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6" @click="$emit('nav',stat.section,stat.sectionArgs)">
            <dt class="truncate text-sm font-medium text-gray-500">{{stat.label}}</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{stat.total}}</dd>
          </div>
        </dl>
      </div>
      
    </div>`,
    emits: ['nav'],
    setup(props, { emit }) {
        const client = useClient()
        const api = ref(new ApiResult())
        
        const tableSections = {
            Contacts: 'contacts',
            Comments: 'comments',
            Users: 'users',
            Messages: 'messages',
            MailRuns: 'mailruns',
            MailRunMessages: 'mailrunmsgs',
            Threads: 'threads',
            CommentVotes: 'votes',
            CommentReports: 'reports',
        }
        
        const last30Days = computed(() => ['Contacts','Comments','Users']
            .map(x => ({ 
                label:`Total ${x === 'Contacts' ? 'Subscribers' : humanize(x)}`, 
                total: api.value.response?.totals[x] || 0,
                before30DayTotal: api.value.response?.before30DayTotals[x] || 0,
                last30DayTotal: api.value.response?.last30DayTotals[x] || 0,
                section: tableSections[x],
            })))
        
        const totals = computed(() => ['Messages','MailRuns','MailRunMessages','Threads','CommentVotes','CommentReports']
            .map(x => ({
                label:`Total ${humanize(x)}`,
                total: api.value.response?.totals[x] || 0,
                section: tableSections[x],
            })))

        const archivedTotals = computed(() => ['Messages','MailRuns','MailRunMessages']
            .map(x => ({
                label:`Total ${humanize(x)}`,
                total: api.value.response?.archivedTotals[x] || 0,
                section: 'archive',
                sectionArgs: { tab:`Archive${x}` }
            })))

        onMounted(async () => await client.swr(new ViewAppStats(), r => api.value = r))
        
        return { last30Days, totals, archivedTotals }
    }
}
const Contacts = {
    template:`
      <AutoQueryGrid type="Contact" hide="copyApiUrl" selectedColumns="id,email,firstName,lastName,mailinglists,source,createdDate" />
    `,
    emits: ['nav'],
    setup(props) {
        return {}
    }
}

const MailRunInfo = {
    template:`<div v-if="info" class="text-gray-500 flex items-center">
      <span>sent {{info.messagesSent}}</span>
      <span>/</span>
      <span>{{info.totalMessages}}</span>
      <button type="button" @click="refresh" title="Refresh" class="ml-3 inline-flex items-center px-2.5 py-1.5 border border-gray-300 dark:border-gray-700 shadow-sm text-sm font-medium rounded text-gray-700 dark:text-gray-300 bg-white dark:bg-black hover:bg-gray-50 dark:hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:ring-offset-black">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 20v-5h-5M4 4v5h5m10.938 2A8.001 8.001 0 0 0 5.07 8m-1.008 5a8.001 8.001  0 0 0 14.868 3" /></svg>
      </button>
    </div>`,
    props: { id:Number },
    setup(props) {
        const client = useClient()
        const apiInfo = ref()
        const info = computed(() => apiInfo.value?.response)
        async function refresh() {
            apiInfo.value = await client.api(new ViewMailRunInfo({ id:props.id }))
        }
        onMounted(async () => {
            await refresh()
        })
        
        return { info, refresh }
    }
}

const MailRuns = {
    components: { MailRunInfo, EmailPreview, ArchiveButton },
    template:`
      <div class="py-4 flex flex-wrap gap-3">
          <button v-for="op in mailRunApis" @click="selectOp(op)" :class="styles.dialogButton">
            <Icon v-if="op.icon" :image="op.icon" class="mr-2 w-6 h-6" />
            {{op.description || op.name}}
          </button>      
      </div>
      <AutoQueryGrid ref="grid" type="MailRun" hide="newItem,copyApiUrl" selected-columns="id,mailingList,layout,page,generator,emailsCount,createdDate,sentDate">
        <template #toolbarbuttons>
          <div class="pl-2 mt-1">
            <ArchiveButton type="mailRuns" @done="grid.update()" />
          </div>
        </template>
        <template #formfooter="{ model }">
          <div class="p-6 flex items-center">
            <SecondaryButton class="mr-3" @click="$emit('nav','mailrunmsgs',{mailRunId:model.id})">View Messages</SecondaryButton>
            <PrimaryButton type="button" color="red" class="mr-3" :disabled="model.sentDate" @click="sendMailRun(model)">
                <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M27.71 4.29a1 1 0 0 0-1.05-.23l-22 8a1 1 0 0 0 0 1.87l8.59 3.43L19.59 11L21 12.41l-6.37 6.37l3.44 8.59A1 1 0 0 0 19 28a1 1 0 0 0 .92-.66l8-22a1 1 0 0 0-.21-1.05Z"/></svg>
                Send Messages
            </PrimaryButton>
            <MailRunInfo :id="model.id" />
          </div>
        </template>
      </AutoQueryGrid>
      <AutoCreateForm v-if="selectedOp" :type="selectedOp?.name" :configureFormLayout="configureFormLayout" @save="save" @done="done">
          <template #footer="{ model }">
            <EmailPreview :type="selectedOp?.name" :modelValue="model" />
          </template>
      </AutoCreateForm>
    `,
    emits: ['nav'],
    setup(props, { emit }) {
        const client = useClient()
        const mailRunApis = metadataApi.value.operations.filter(x => x.request.inherits?.name === 'MailRunBase')
            .map(x => x.request)
        const grid = ref()
        const selectedOp = ref()
        
        /** @type {MetadataOperationType} */
        function selectOp(op) {
            selectedOp.value = op
        }
        
        function done() { selectOp(null) }
        function save(model) {
            grid.value?.createSave()
            emit('nav','mailruns', { edit:model.id })
        }

        /** @type {InputInfo[]} inputs */
        function configureFormLayout(inputs) {
            // reorder props to move base props first
            const propsOrder = typeOf('MailRunBase').properties.map(x => x.name.toLowerCase())
            inputs.forEach(x => {
                if (!propsOrder.includes(x.name)) propsOrder.push(x.id.toLowerCase())
            })
            inputs.sort((a,b) => {
                return a.name === b.name ? 0 : propsOrder.indexOf(a.id.toLowerCase()) > propsOrder.indexOf(b.id.toLowerCase())
                    ? 1
                    : -1
            })
        }
        
        async function sendMailRun(model) {
            const sentDate = new Date().toISOString().slice(0,10)
            grid.value.setEdit({ sentDate })
            const api = await client.apiVoid(new SendMailRun({ id:model.id }))
            if (api.succeeded) {
                grid.value?.update()
            }
        }
        
        return { styles, mailRunApis, grid, selectOp, selectedOp, done, save, configureFormLayout, sendMailRun }
    }
}

const MessageView = {
    template:`<div class="">
      <tabs :tabs="createTabs(model)"></tabs>
    </div>`,
    props: { model:Object },
    setup(props) {
        function createTabs(model) {
            return {
                Email: {
                    template:`
                      <div v-if="msg">
                        <div class="">
                          <div v-if="msg.to?.length" class="flex border-b border-gray-100 mb-2 pb-2">
                            <b class="w-20">To:</b>
                            <div>{{formatEmails(msg.to)}}</div>
                          </div>
                          <div v-if="msg.cc?.length" class="flex border-b border-gray-100 mb-2 pb-2">
                            <b class="w-20">Cc:</b>
                            <div>{{formatEmails(msg.cc)}}</div>
                          </div>
                          <div v-if="msg.bcc?.length" class="flex border-b border-gray-100 mb-2 pb-2">
                            <b class="w-20">Bcc:</b>
                            <div>{{formatEmails(msg.bcc)}}</div>
                          </div>
                          <div v-if="msg.subject" class="flex border-b border-gray-100 mb-2 pb-2">
                            <b class="w-20">Subject:</b>
                            <div>{{msg.subject}}</div>
                          </div>
                        </div>
                        <div>
                          <div v-if="msg.bodyHtml" v-html="msg.bodyHtml"></div>
                          <div v-else-if="msg.bodyText" class="whitespace-pre-wrap">{{ msg.bodyText }}</div>
                        </div>
                      </div>
                    `,
                    setup() {
                        const msg = model.message
                        return { model, msg, formatEmails }
                    }
                },
                Renderer: {
                    template:`
                        <div class="bg-gray-50 dark:bg-gray-900 px-3 py-4 mb-2">
                          <h3 class="text-lg font-medium text-gray-900 dark:text-gray-100">{{model.renderer}}</h3>
                        </div>                        
                        <HtmlFormat :value="model.rendererArgs" />
                    `,
                    setup() {
                        return { model }
                    }
                }
            }
        }

        return { createTabs }
    }
}

const Messages = {
    components: { MessageView, EmailPreview, ArchiveButton },
    template:`
      <div class="py-4 flex flex-wrap gap-3">
          <button v-for="op in createMsgApis" @click="selectOp(op)" :class="styles.dialogButton">
            <Icon v-if="op.icon" :image="op.icon" class="mr-2 w-6 h-6" />
            {{op.description || op.name}}
          </button>
      </div>
      <AutoQueryGrid ref="grid" type="MailMessage" hide="copyApiUrl,downloadCsv" :visibleFrom="{ rendererArgs:'never' }"
                     selectedColumns="id,email,layout,page,renderer,rendererArgs,completedDate">
        <template #toolbarbuttons>
          <div class="pl-2 mt-1">
            <ArchiveButton type="messages" @done="grid.update()" />
          </div>
        </template>
        <template #renderer="{ renderer, rendererArgs }">
          <span :title="indentJson(rendererArgs)">{{renderer}}</span>
        </template>
        <template #formfooter="{ id, model }">
          <div v-if="!model.completedDate" class="py-3 flex justify-center">
            <PrimaryButton color="red" :disabled="sending" @click="sendMessage(model)" type="button">
              <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M27.71 4.29a1 1 0 0 0-1.05-.23l-22 8a1 1 0 0 0 0 1.87l8.59 3.43L19.59 11L21 12.41l-6.37 6.37l3.44 8.59A1 1 0 0 0 19 28a1 1 0 0 0 .92-.66l8-22a1 1 0 0 0-.21-1.05Z"/></svg>
              {{ sending ? 'Sending...' : 'Send' }}
            </PrimaryButton>
          </div>
          <MessageView :model="model" />
        </template>
      </AutoQueryGrid>
      <AutoCreateForm v-if="selectedOp" :type="selectedOp?.name" :configureFormLayout="configureFormLayout" @save="save" @done="done">
        <template #footer="{ model }">
            <EmailPreview :type="selectedOp?.name" :modelValue="model" />
        </template>
      </AutoCreateForm>
    `,
    emits: ['nav'],
    setup(props, { emit }) {
        const client = useClient()
        const { indentJson } = useFormatters()
        const createMsgApis = metadataApi.value.operations.filter(x => x.request.inherits?.name === 'CreateEmailBase')
            .map(x => x.request)
        const grid = ref()
        const selectedOp = ref()
        const sending = ref(false)

        /** @type {MetadataOperationType} */
        function selectOp(op) {
            selectedOp.value = op
        }
        function done() { selectOp(null) }
        
        /** @param {MailMessage} model */
        async function save(model) {
            await grid.value?.createSave()
            done()
        }
        
        /** @type {InputInfo[]} inputs */
        function configureFormLayout(inputs) {
            // reorder props to move base props first
            const propsOrder = typeOf('CreateEmailBase').properties.map(x => x.name.toLowerCase())
            inputs.forEach(x => {
                if (!propsOrder.includes(x.name)) propsOrder.push(x.id.toLowerCase())
            })
            inputs.sort((a,b) => {
                return a.name === b.name ? 0 : propsOrder.indexOf(a.id.toLowerCase()) > propsOrder.indexOf(b.id.toLowerCase())
                    ? 1
                    : -1
            })
        }
        
        async function sendMessage(model) {
            sending.value = true
            const api = await client.api(new SendMailMessage({ id:model.id, force:true }))
            if (api.succeeded) {
                sending.value = false
                grid.value?.editSave()
            }
        }
        
        return { styles, grid, createMsgApis, selectOp, selectedOp, done, save, configureFormLayout, sendMessage, 
                 sending, indentJson }
    }
}

const MailRunMessages = {
    components: { MessageView },
    template:`
      <AutoQueryGrid ref="grid" type="MailMessageRun" hide="copyApiUrl,downloadCsv" selected-columns="id,mailRunId,contactId,contact,renderer,rendererArgs,completedDate">
        <template #formfooter="{ id, model }">
          <MessageView :model="model" />
        </template>
      </AutoQueryGrid>
    `,
    emits: ['nav'],
    props: ['mailRunId'],
    setup(props) {
        const grid = ref()
        return { grid }
    }
}

const Drafts = {
    components: { MessageView, EmailPreview, ArchiveButton },
    template:`
      <AutoQueryGrid ref="grid" type="MailMessage" hide="copyApiUrl,downloadCsv" :visibleFrom="{ rendererArgs:'never' }"
                     :filters="{ completedDateIsNull:'',draft:true }"
                     selectedColumns="id,email,layout,page,renderer,rendererArgs,createdDate">
        <template #renderer="{ renderer, rendererArgs }">
          <span :title="indentJson(rendererArgs)">{{renderer}}</span>
        </template>
        <template #editform="{ model, save, done }">
          <AutoForm type="UpdateMailMessageDraft" formStyle="slideOver" :modelValue="updateModel(model)" :configureFormLayout="configureFormLayout" 
                    submitLabel="Save" @success="save" @done="done">
            <template #footer="{ model }">
              <EmailPreview :renderer="model.renderer" :modelValue="model" />
            </template>
            <template #leftbuttons="{ instance }">
              <PrimaryButton type="button" @click="submitForm(instance)" color="red">
                <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M27.71 4.29a1 1 0 0 0-1.05-.23l-22 8a1 1 0 0 0 0 1.87l8.59 3.43L19.59 11L21 12.41l-6.37 6.37l3.44 8.59A1 1 0 0 0 19 28a1 1 0 0 0 .92-.66l8-22a1 1 0 0 0-.21-1.05Z"/></svg>
                Send
              </PrimaryButton>
            </template>
          </AutoForm>
        </template>
      </AutoQueryGrid>
    `,
    emits: ['nav'],
    setup(props, { emit }) {
        const client = useClient()
        const { indentJson } = useFormatters()
        const createMsgApis = metadataApi.value.operations.filter(x => x.request.inherits?.name === 'CreateEmailBase')
            .map(x => x.request)
        const grid = ref()
        const selectedOp = ref()
        const sending = ref(false)

        /** @type {InputInfo[]} inputs */
        function configureFormLayout(inputs) {
            // reorder props to move base props first
            const propsOrder = typeOf('CreateEmailBase').properties.map(x => x.name.toLowerCase())
            inputs.forEach(x => {
                if (!propsOrder.includes(x.name)) propsOrder.push(x.id.toLowerCase())
            })
            inputs.sort((a,b) => {
                return a.name === b.name ? 0 : propsOrder.indexOf(a.id.toLowerCase()) > propsOrder.indexOf(b.id.toLowerCase())
                    ? 1
                    : -1
            })
        }

        async function sendMessage(model) {
            sending.value = true
            const api = await client.api(new SendMailMessage({ id:model.id, force:true }))
            if (api.succeeded) {
                sending.value = false
                grid.value?.editSave()
            }
        }
        
        function updateModel(model) {
            model.subject = model.message?.subject
            model.body = model.message?.body
            return model
        }
        
        async function submitForm(instance) {
            await instance.setModel({ send: true })
            instance.submit()
        }
        
        return { styles, grid, createMsgApis, selectedOp, configureFormLayout, sendMessage, sending, indentJson, 
                 updateModel, submitForm }
    }
}

const ArchiveMessages = {
    template:`<AutoQueryGrid ref="grid" type="ArchiveMessage" ></AutoQueryGrid>`,
}
const ArchiveMailRuns = {
    template:`<AutoQueryGrid ref="grid" type="ArchiveRun" ></AutoQueryGrid>`,
}
const ArchiveMailRunMessages = {
    template:`<AutoQueryGrid ref="grid" type="ArchiveMessageRun" ></AutoQueryGrid>`,
}
const ArchiveTabs = {
    ArchiveMessages,
    ArchiveMailRuns,
    ArchiveMailRunMessages,
}

const Archive = {
    components: { ...ArchiveTabs },
    template:`
      <Tabs :tabs="ArchiveTabs" :selected="selected"></Tabs>
    `,
    setup(props) {
        const selected = ref('')
        
        onMounted(() => {
            const qs = queryString(location.href)
            selected.value = qs.tab
        })
        
        return { ArchiveTabs, selected }
    }
}

const sections = {
    dashboard: {
        id: 'dashboard',
        label: 'Dashboard',
        component: Dashboard,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" /></svg>`,
    },
    contacts: {
        id: 'contacts',
        label: 'Contacts',
        component: Contacts,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='currentColor' d='M5 3a3 3 0 1 1 6 0a3 3 0 0 1-6 0zm7.001 4h-.553l-3.111 6.316L9.5 7.5L8 6L6.5 7.5l1.163 5.816L4.552 7h-.554c-1.999 0-1.999 1.344-1.999 3v5h12v-5c0-1.656 0-3-1.999-3z'/></svg>`,
    },
    messages: {
        id: 'messages',
        label: 'Messages',
        component: Messages,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='currentColor' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5l8-5v10zm-8-7L4 6h16l-8 5z'/></svg>`,
    },
    drafts: {
        id: 'drafts',
        label: 'Drafts',
        component: Drafts,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 2a1 1 0 0 1 1 1v3.757l-2 2V4H5v16h14v-2.758l2-2V21a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16Zm1.778 6.808l1.414 1.414L15.414 18l-1.416-.002l.002-1.412l7.778-7.778ZM13 12v2H8v-2h5Zm3-4v2H8V8h8Z"/></svg>`,
    },
    mailruns: {
        id: 'mailruns',
        label: 'Mail Runs',
        component: MailRuns,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='currentColor' d='M21 3a1 1 0 0 1 1 1v16.007a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V19h18V7.3l-8 7.2l-10-9V4a1 1 0 0 1 1-1h18ZM8 15v2H0v-2h8Zm-3-5v2H0v-2h5Zm14.566-5H4.434L12 11.81L19.566 5Z'/></svg>`,
    },
    mailrunmsgs: {
        id: 'mailrunmsgs',
        label: 'Mail Run Messages',
        component: MailRunMessages,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='currentColor' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5l8-5v10zm-8-7L4 6h16l-8 5z'/></svg>`,
    },
    archive: {
        id: 'archive',
        label: 'Archive',
        component: Archive,
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.413-.588T3 19V6.5q0-.375.125-.675t.325-.575l1.4-1.7q.2-.275.5-.413T6 3h12q.35 0 .65.137t.5.413l1.4 1.7q.2.275.325.575T21 6.5V19q0 .825-.588 1.413T19 21H5Zm.4-15h13.2l-.85-1H6.25L5.4 6ZM5 8v11h14V8H5Zm7 10l4-4l-1.4-1.4l-1.6 1.6V10h-2v4.2l-1.6-1.6L8 14l4 4Zm-7 1h14H5Z"/></svg>`,
    }
}

const postSections = {
    users: {
        id: 'users',
        label: 'Users',
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 22h-2v-2a3 3 0 0 0-3-3H9a3 3 0 0 0-3 3v2H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2Zm-8-9a6 6 0 1 1 0-12a6 6 0 0 1 0 12Zm0-2a4 4 0 1 0 0-8a4 4 0 0 0 0 8Z"/></svg>`,
        component: {
            template:`<AutoQueryGrid type="AppUser" hide="copyApiUrl" @rowSelected="view" 
                         selectedColumns="id,profileUrl,email,displayName,handle,lastLoginIp,lastLoginDate,createdDate"
                         :headerTitles="{ profileUrl:'Profile' }">
                <template #toolbarbuttons>
                    <div class="pl-2 mt-1">
                      <a href="/admin-ui/users" :class="[css.grid.toolbarButtonClass,'justify-center gap-x-1.5']">
                        Manage Users
                      </a>
                    </div>
                </template>
              <template #profileUrl="{ displayName, profileUrl }">
                <img v-if="profileUrl" class="w-6 h-6" :src="profileUrl" :alt="displayName + 'Profile Image'">
              </template>
            </AutoQueryGrid>`,
            setup() {
                function view(model) {
                    location.href = `/admin-ui/users?edit=${model.id}`
                }
                return { css, view }
            }
        },
    },
    threads: {
        id: 'threads',
        label: 'Threads',
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><g fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M3 21c-.667-.667 3.262-6.236 11.785-16.709a3.5 3.5 0 1 1 5.078 4.791C9.288 17.694 3.667 21.667 3 21zM17.5 6.5l-1 1'/><path d='M17 7c-2.333-2.667-3.5-4-5-4s-2 1-2 2c0 4 8.161 8.406 6 11c-1.056 1.268-3.363 1.285-5.75.808m-4.511-1.383C4.346 14.86 2 13.5 2 12m17.5-2.5L21 11'/></g></svg>`,
        component: {
            template:`<AutoQueryGrid type="Thread" selectedColumns="id,url,description,viewCount,likesCount,commentsCount,createdDate" />`,
        },
    },
    comments: {
        id: 'comments',
        label: 'Comments',
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round"><path stroke-linecap="round" stroke-width="1.5" d="M12 21a9 9 0 1 0-8-4.873L3 21l4.873-1c1.236.639 2.64 1 4.127 1Z"/><path stroke-width="2.25" d="M7.5 12h.01v.01H7.5zm4.5 0h.01v.01H12zm4.5 0h.01v.01h-.01z"/></g></svg>`,
        component: {
            template:`
                <AutoQueryGrid type="Comment" selectedColumns="id,threadId,replyId,content,upVotes,downVotes,flagReason,appUserId,displayName,profileUrl,createdId"
                    :headerTitles="{ threadId:'Thread', replyId:'Reply', profileUrl:'Profile', appUserId:'User' }" 
                    :visibleFrom="{ displayName:'never',profileUrl:'never' }">
                  <template #appUserId="{ appUserId, displayName, profileUrl }">
                    <a :href="'/admin-ui/users?edit=' + appUserId" class="flex">
                        <img v-if="profileUrl" class="w-5 h-5 mr-2" :src="profileUrl" :alt="displayName + 'Profile Image'">
                        <span>{{ displayName }}</span>
                    </a>
                  </template>
                </AutoQueryGrid>`,
        },
    },
    votes: {
        id: 'votes',
        label: 'Votes',
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='currentColor' d='M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601L17.919 12H15z'/></svg>`,
        component: {
            template:`<AutoQueryGrid type="CommentVote" />`,
        },
    },
    reports: {
        id: 'reports',
        label: 'Reports',
        icon: `<svg class="h-6 w-6 shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5"></path></svg>`,
        component: {
            template:`<AutoQueryGrid type="CommentReport" apis="AdminQueryCommentReports,AdminUpdateCommentReport,AdminDeleteCommentReport">
                <template #formfooter="{ commendId }">
                    
                </template>
            </AutoQueryGrid>`,
        },
    },
}

const App = {
    setup() {
        const { transition } = useUtils()
        const { user } = useAuth()
        const refreshKey = ref(1)

        const toggleState = ref(true)
        const transition1 = ref('')
        const rule1 = {
            entering: { cls:'transition-opacity ease-linear duration-300', from:'opacity-0',   to:'opacity-100'},
            leaving:  { cls:'transition-opacity ease-linear duration-300', from:'opacity-100', to:'opacity-0'}
        }

        const transition2 = ref('')
        const rule2 = {
            entering: { cls:'transition ease-in-out duration-300 transform', from:'-translate-x-full', to:'translate-x-0'},
            leaving:  { cls:'transition ease-in-out duration-300 transform', from:'translate-x-0',     to:'-translate-x-full'}
        }

        const transition3 = ref('')
        const rule3 = {
            entering: { cls:'ease-in-out duration-300', from:'opacity-0',   to:'opacity-100'},
            leaving:  { cls:'ease-in-out duration-300', from:'opacity-100', to:'opacity-0'}
        }

        function toggle(show) {
            transition(rule1, transition1, show)
            transition(rule2, transition2, show)
            transition(rule3, transition3, show)
            setTimeout(() => toggleState.value = show, 300)
        }
        
        function qs() {
            return queryString(location.href)
        }
        const allSections = { ...sections, ...postSections }
        const activeSection = shallowRef(allSections[rightPart(leftPart(location.hash,'?'), '#')] || sections.dashboard)
        
        function navTo(section, args, pushState=true) {
            if (!args) args = {}
            refreshKey.value++
            activeSection.value = allSections[section] || sections.dashboard
            console.log('navTo', { section, ...args }, appendQueryString(`#${section}`, args))
            if (pushState) history.pushState({ section, ...args }, null, appendQueryString(`#${section}`, args))
            toggle(false)
        }
        
        onMounted(() => {
            window.addEventListener('popstate', event => {
                navTo(event.state?.section, {}, false)
            })
        })
        
        return { transition1, transition2, transition3, toggleState, toggle, 
            user, sections, postSections, activeSection, navTo, refreshKey, qs }
    }
}
mount('#app', App)
</script>

</body>
</html>