<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-servicestack" value="https://nuget.pkg.github.com/ServiceStack/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github-servicestack>
            <add key="Username" value="gistlyn" />
            <add key="ClearTextPassword" value="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" />
        </github-servicestack>
    </packageSourceCredentials>
</configuration>